<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tienda Heroes</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <div class="descuentos">
        <p>20% de descuento en todos los productos!</p>
      </div>
      <div class="bannertienda">
        <i class="fas fa-store"></i>
        <span>heroes shop</span>
      </div>
      <div>
        <nav class="barranav">
          <a href="contacto">contacto</a>
          <a href="registro.html">registrarme</a>
          <a href="../index.html">ingresar</a>
        </nav>
      </div>
    </header>
    <main>
      <section class="perfil batman">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-batman.png"
          alt="foto batman"
        />
        <div class="historia">
          <h2>batman</h2>
          <p>
            Bruce Wayne es el único personaje que se identifica como Batman y
            aparece en Batman, Detective Comics, Batman y Robin, y Batman: The
            Dark Knight. Dick Grayson vuelve al manto de Nightwing
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
      <section class="perfil superman">
        <i class="fas fa-heart"></i>
        <img
          class="foto-perfil"
          src="../img/perfil-superman.png"
          alt="foto superman"
        />
        <div class="historia">
          <h2>superman</h2>
          <p>
            Es un superhéroe que apareció por primera vez en los cómics
            estadounidenses publicados por DC Comics. ​ El personaje fue creado
            por el escritor estadounidense Jerry Siegel y el artista canadiense
            Joe Shuster en 1933 cuando ambos se encontraban viviendo en
            Cleveland, Ohio.
          </p>
          <button class="ver-mas" type="submit">ver más</button>
        </div>
      </section>
    </main>
    <footer>
      <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>
  </body>
</html>
