@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.descuentos {
  background-color: #1cd1b0;
}
.descuentos p {
  font-size: 15px;
  padding-left: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.bannertienda {
  background-color: #00669f;
  color: white;
  padding: 10px;
}
.bannertienda span {
  font-size: 30px;
  text-transform: capitalize;
}
.fas {
  font-size: 50px;
  margin-right: 20px;
}
.registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 300px;
}
.titulo1 {
  text-transform: capitalize;
  display: flex;
  position: relative;
  right: 110px;
  margin-bottom: 20px;
  font-size: 32px;
}
.login {
  display: flex;
  flex-direction: column;
  height: 120px;
  justify-content: space-between;
}
.login input {
  font-size: 15px;
  height: 30px;
  width: 400px;
  padding: 10px;
}
.login button.enviar {
  margin-bottom: 10px;
  height: 30px;
  font-weight: bold;
  border-radius: 40px;
  border: transparent none 0px;
  background-color: #1cd1b0;
}
.login select {
  height: 30px;
}
.crearcuenta {
  color: #00669f;
  text-decoration: none;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00669f;
  color: white;
  height: 50px;
}
.login2 {
  display: flex;
  flex-direction: column;
  height: 230px;
  justify-content: space-between;
}
.login2 input {
  font-size: 15px;
  height: 30px;
  width: 400px;
  padding: 10px;
}
.login2 button.enviar {
  height: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  border-radius: 40px;
  border: transparent none 0px;
  background-color: #1cd1b0;
}
.login2 select {
  height: 30px;
}
.buttons {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.buttons button {
  width: 170px;
}
.login2 button.reset {
  height: 30px;
  border-radius: 40px;
  border: transparent none 0px;
  background-color: #888888;
  color: white;
}
