@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;600;700;800&display=swap");

@import "variables.scss";

@mixin button($background, $color, $box-shadow) {
  background-color: $background;
  color: $color;
  border: none 0px transparent;
  border-radius: 50px;
  font-weight: 500;
  width: 150px;
  height: 50px;
  text-transform: capitalize;
  box-shadow: $box-shadow;
}
* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Be Vietnam", sans-serif;
}
.bannerheader {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  img {
    width: 150px;
    height: 30px;
  }
  .navheader {
    display: flex;
    justify-content: space-between;
    width: 500px;
    a {
      text-decoration: none;
      text-transform: capitalize;
      color: $color-tittles;
      font-weight: 500;
    }
  }
  .button1 {
    @include button(#f3603b, #ffffff, 0px 4px 7px rgba(0, 0, 0, 0.25));
  }
  .container {
    display: none;
  }
}
main {
  position: relative;
  overflow-x: clip;
  .imagebody1 {
    position: absolute;
    z-index: -1;
    top: -9%;
    left: 56%;
  }
  .one {
    display: flex;
    justify-content: space-around;
    .start {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 186px;
      width: 480px;
      height: 386px;
      h1 {
        font-size: 58px;
        line-height: 66px;
        color: $color-tittles;
      }
      p {
        font-weight: 500;
        width: 350px;
      }
      .button2 {
        @include button(#f3603b, #ffffff, 0px 4px 8px rgba(242, 97, 59, 0.5));
      }
    }
    .divgraphics {
      margin-top: 125px;
    }
  }
  .two {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    .different {
      display: flex;
      flex-direction: column;
      width: 433px;
      p {
        width: 337px;
      }
      h3 {
        font-size: 36px;
        font-weight: 700;
        color: $color-tittles;
      }
      p {
        font-size: 16px;
        font-weight: 500;
      }
    }
    .listkeys {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 550px;
      height: 549px;
      .keysellingpoints {
        display: flex;
        p {
          color: $color-info;
          margin-top: 18px;
        }
        span {
          background-color: $background-button1;
          color: #ffffff;
          display: inline-block;
          text-align: center;
          padding-top: 8px;
          width: 69px;
          height: 43px;
          border-radius: 30px;
          margin-right: 23px;
          font-size: 16px;
        }
        h4,
        p {
          width: 437px;
        }
      }
    }
  }
}
